* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E2E8F0;
}

button,
a,
input {
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 15px;
  overflow: hidden;
}
